<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405112418174-fg3dbs7vd1mdaad4ekr44g347gge9m8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405112418174-fg3dbs7vd1mdaad4ekr44g347gge9m8b</string>
	<key>API_KEY</key>
	<string>AIzaSyBsUiYybao0zW14mpV9BkZJGyO46vz8mLU</string>
	<key>GCM_SENDER_ID</key>
	<string>405112418174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.AISpeaking</string>
	<key>PROJECT_ID</key>
	<string>ai-speaki</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-speaki.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405112418174:ios:15bc624800366ce35bcd2f</string>
</dict>
</plist>